*{
    font-family: Verdana, sans-serif;
}

body{
    margin-left:10%;
    margin-right:10%;
}

.body-container{
    background-color:rgb(230,230,230);
    padding-bottom:4px;
}

header {
    background-color: rgb(170,170,170);
}

.icon {
    color:white;
    font-weight:bold;
    border-style: solid;
    border-color: white;
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    border-width: thin;
    margin-left: 5px;
}

header h1 {
    display: inline-block;
    font-size: 1em;
    margin:0;
    padding:0;
    padding-right:10px;
}

nav {
    display: inline-block;
    border-style:none;
    padding-top:5px;
    padding-bottom:5px;
}

nav ul{
    border-style: none;
    margin:0;
    padding:0;
}

nav ul li{
    display:inline-block;
    border-style:none;
    border-color:red;
    border-right-style:solid;
    border-right-color: white;
    border-right-width:thin;
    padding-right:10px;
    padding-bottom:2px;
}

nav ul li:last-child {
    border-style:none;
}

header aside{
    display: inline-block;
    float:right;
    padding-top:5px;
    padding-right:10px;
    border-style:none;
}

/* ------ARTICLES------ */

article ol {
    color:rgb(130,130,130);

}

article ol li {
    padding-bottom: 7px;
}

.article-content{
    color:black;
}

.article-link {
    font-size:.75em;
}

a:link{
  text-decoration: none;
  color:rgb(130,130,130);
}

a:visited{
  color:rgb(130,130,130);
}

article ol li img {
    width:12px;
}

.article-content-2{
    font-size:.75em;
    padding-left:18px;
}

p {
    padding-left:58px;
}

/* ------FOOTER------- */

footer{
    border-top-style:solid;
    border-top-width: medium;
    border-top-color: rgb(130,130,130);
    font-size: .5em;
}

footer ul {
    margin:auto 0;
}

footer ul li {
    display: inline-block;
    border-right-style: solid;
    border-right-width: 2px;
    border-right-color:rgb(130,130,130);
    padding-right:5px;
}
